<%- include("header") -%>
    <form action="/shortUrls" method="post" style="display: flex; justify-content: center;padding: 2rem 2rem 2.5rem 2rem;column-gap: 0.8rem;">
        <input required placeholder="URL" type="text" name="fullURL" id="fullURL" class="form-control mr-2" style="max-width: 500px;font-size: 16px;">
        <button type="submit" class="btn btn-success">Shrink</button>
    </form>
    <table class="table table-hover table-responsive-md  table-striped" >
        <thead>
            <tr>    
                <th scope="col">Full URL</th>
                <th scope="col">Short URL</th>
                <th scope="col">Clicks</th>
            </tr>
        </thead>
        <tbody >
            <% shortURLS.forEach(shrturl=>{ %>
            <tr scope="row">
                <td><a href=" <%= shrturl.full %> "> <%= shrturl.full %> </a><a href="editurl/<%= shrturl._id%>" style="text-decoration: none;color: black;"><span class="material-symbols-outlined" style="float: right;">
                    edit
                    </span></a></td>
                <td><a href="<%= shrturl.short %>"><%= shrturl.short %></a></td>
                <td><%= shrturl.clicks %></td>
            </tr>
            
          <%  }) %>
            
        </tbody>
    </table>
